name: Continuous Delivery

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
      dry:
        description: 'Dry run'
        required: false
        type: boolean

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          ref: ${{ 'main' }}
      - name: Use Node.js v18
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - name: Locate Yarn Cache
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - name: Yarn Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install Dependencies
        run: yarn --immutable
      - name: Build
        run: yarn build
      - name: Bump Version & Publish
        if: ${{ inputs.dry }}
        run: |
          git config --global user.name 'DanCodes'
          git config --global user.email 'dan@dancodes.online'

          yarn release-it --ci -i ${{ inputs.version }} -d
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
      - name: Bump Version & Publish
        if: ${{ !inputs.dry }}
        run: |
          git config --global user.name 'DanCodes'
          git config --global user.username 'dan-online'
          git config --global user.email 'dan@dancodes.online'

          # git add . &&
          # git commit -m "ci: delivery commit"
          # git push origin main

          yarn release-it --ci -i ${{ inputs.version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
